apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: postgres
  namespace: shortlink
spec:
  serviceName: postgres
  replicas: 1
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      labels:
        app: postgres
    spec:
      containers:
        - name: postgres
          image: postgres:15
          env:
            - name: POSTGRES_USER
              value: "admin"
            - name: POSTGRES_PASSWORD
              value: "admin"
            - name: POSTGRES_DB
              value: "postgres"
            - name: PGDATA
              value: "/data/postgres"
          ports:
            - containerPort: 5432
          volumeMounts:
            - name: init-sql
              mountPath: /docker-entrypoint-initdb.d
      volumes:
        - name: init-sql
          configMap:
            name: postgres-init-cm
---
apiVersion: v1
kind: Service
metadata:
  name: postgres
  namespace: shortlink
spec:
  ports:
    - port: 5432
      targetPort: 5432
  selector:
    app: postgres
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: postgres-init-cm
  namespace: shortlink
data:
  00_create_schemas.sql: |
    -- Create multiple schemas in a single PostgreSQL instance
    CREATE database admin;
    CREATE database shortlink;

